<div *ngIf="dato != undefined">
<ul class="list-group">
    <li class="list-group-item">ID: {{dato.id}}</li>
    <li class="list-group-item">Nombre: {{dato.Nombre}}</li>
    <li class="list-group-item">Apellido: {{dato.Apellido}}</li>    
    <li class="list-group-item">Sexo: {{dato.Sexo}}</li>
    <li class="list-group-item">Fecha nacimiento: {{dato.FechaNac}}</li> 
    <li class="list-group-item">Email: {{dato.email}}</li>
    <li class="list-group-item">Foto: <img src="{{dato.FotoPerfil}}"> </li> 
    <li class="list-group-item"><app-boton-entidad [objEntidad]="dato" (deleteItemEvent)="deleteDato($event)"></app-boton-entidad></li>

</ul>    
</div>

